
/*
 * One Follow in Follow List
 */
.follow-item {
  width: 90%;
  padding: 10px;
  background-color: #ffffff;
  margin: 0 auto;
  border: 1px solid #F2E9E1;
}

.follow-item:after {
  display: block;
  clear: both;
  content: "";
}

.follow-img {
  float: left;
}

.follow-img > a > img {
  width: 64px;
  height: 64px;
}

.follow-main {
  width: calc(100% - 64px - 40px);
  margin-left: 20px;
  float: left;
}

.follow-namecontainer {
  vertical-align:bottom;
}

.follow-namecontainer > div {
  display: inline;
}

.follow-username {
  font-size: 1.5em;
}

