/*
 * Profile
 */
.profile-header {
  width: calc(100% - 550px - 60px);
  margin: 10px 30px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: #F2E9E1;
  float: left;
}

.profile-floatcontainer:after {
  display: block;
  clear: both;
  content: "";
}

.profile-editbutton {
  margin-right: 30px;
  float: right;
  cursor:pointer;
}

.profile-editbutton > a > i {
  color: #1C140D;
}

.profile-icon {
  margin-left: 30px;
  margin-bottom: 20px;
  float: left;
}

.profile-icon > img {
  width: 128px;
  height: 128px;
}

.profile-main {
  width: calc(100% - 128px - 100px);
  margin-left: 30px;
  float: left;
}

.profile-username > input {
  width: 90%;
}

.profile-screenname > input {
  width: 90%;
}

.profile-text {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.profile-username {
  margin-top: 0;
  font-size: 2em;
}

.profile-relation-with-you {
  margin-top: 20px;
}

.profile-relation {
  width: 100%;
}

.profile-relation:after {
  display: block;
  clear: both;
  content: "";
}


.profile-follow {
  float: left;
  color: #1C140D;
}

.profile-follower {
  margin-left: 20px;
  float: left;
  color: #1C140D;
}

.profile-icon-edit {
  cursor:pointer;
}

