body {
  color: #1C140D;
  background-color: #CBE86B;
}

.index-header {
  margin: 20px 0;
  padding: 20px;
  background-color: #eee;
  text-align: center;
}


/*
 * Profile
 */
.profile-header {
  width: calc(100% - 550px - 60px);
  margin: 10px 30px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: #eee;
  float: left;
}

.profile-floatcontainer:after {
  display: block;
  clear: both;
  content: "";
}


.profile-icon {
  margin-left: 30px;
  float: left;
}

.profile-icon > img {
  width: 128px;
  height: 128px;
}

.profile-main {
  width: calc(100% - 128px - 100px);
  margin-left: 30px;
  float: left;
}

.profile-username {
  font-size: 2em;
}

.profile-relation-with-you {
  margin-top: 20px;
}

.profile-relation {
  width: 100%;
  margin-top: 30px;
  color: #fff;
  text-align: center;
}

.profile-relation > a:link { color: #fff; }
.profile-relation > a:visited { color: #fff; }
.profile-relation > a:hover { color: #fff; }
.profile-relation > a:active { color: #fff; }

.profile-relation:after {
  display: block;
  clear: both;
  content: "";
}


.profile-follow {
  width: 50%;
  padding: 30px 0;
  background-color: #aaf;
  font-size: 2em;
  border-radius: 0 0 0 5px;
  float: left;
}

.profile-follower {
  width: 50%;
  padding: 30px 0;
  background-color: #faa;
  font-size: 2em;
  border-radius: 0 0 5px 0;
  float: left;
}

/*
 * One Tweet in Timeline
 */
.follow-item {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eef;
}

.follow-item:after {
  display: block;
  clear: both;
  content: "";
}

.follow-img {
  float: left;
}

.follow-img > a > img {
  width: 64px;
  height: 64px;
}

.follow-main {
  width: calc(100% - 64px - 40px);
  margin-left: 20px;
  float: left;
}

.follow-namecontainer {
  vertical-align:bottom;
}

.follow-namecontainer > div {
  display: inline;
}

.follow-username {
  font-size: 1.5em;
}

/*
 * For index
 */
.index {
  width: 100%;
  height: 100%;
  position: fixed;
}
.index:after {
  display: block;
  clear: both;
  content: "";
}
.timeline-menu {
  width: 50px;
  height: 100%;
  float: left;
  padding-top: 10px;
  background-color: #1C140D;
}
.timeline-menu > .menu-img + .menu-img {
  margin-top: 10px;
}
.timeline {
  width: 500px;
  height: 100%;
  overflow-y: scroll;
  float: left;
  padding: 10px 10px;
  background-color: #F2E9E1;
}
.index-main-container  {
  width: calc(100% - 500px - 50px);
  height: 100%;
  overflow-y: scroll;
  float: left;
  margin-top: -10px;
}
.index-main-container:after  {
  display: block;
  clear: both;
  content: "";
}
.conversation {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  overflow: hidden;
  /*float: left;*/
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 5px 5px 0 0;
  border: 2px solid #F2E9E1;
}
.conversation-index {
  padding: 5px 10px;
  /*background-color: #1C140D;*/
  background-color: #F2E9E1;
  color: #1C140D;
}
.conversation-members {
  padding: 2px 5px;
  background-color: #F2E9E1;
}
.conversation-members:after {
  display: block;
  clear: both;
  content: "";
}
.conversation-member {
  float: left;
  border-radius: 12px;
  overflow: hidden;
}
.conversation-member > a > img {
  width: 24px;
  height: 24px;
}

/*
 * One Tweet in Timeline on conversation preview
 */
.conversation-preview {
  margin: 0 auto;
  background-color: #CBE86B;
  font-size: 0.5em;
}

.conversation-preview-tweet-main {
  padding: 5px;
  border: 1px solid #F2E9E1;
}

.conversation-preview-tweet-main:after {
  display: block;
  clear: both;
  content: "";
}

.conversation-preview-tweet-img {
  float: left;
}

.conversation-preview-tweet-img > a > img {
  width: 25px;
  height: 25px;
}

.conversation-preview-tweet-text {
  width: calc(100% - 25px - 10px);
  float: left;
  margin: 0;
  margin-left: 5px;
}

.conversation-preview-tweet-footer {
  width: calc(100% - 25px - 10px);
  margin-left: 5px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
}

.conversation-preview-tweet-footer > div + div {
  margin-left: 10px;
}

.conversation-preview-tweet-screenname {
  font-size: 0.8em;
  margin-top: 2px;
}

.conversation-preview-tweet-username {
  font-weight: bold;
}

/*
 * One Tweet in Timeline
 */
.timeline-tweet {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #F2E9E1;
  background-color: #FFFFFF;
}

.tweet-main:after {
  display: block;
  clear: both;
  content: "";
}

.tweet-img {
  float: left;
}

.tweet-img > a > img {
  width: 45px;
  height: 45px;
}

.tweet-text {
  width: calc(100% - 45px - 20px);
  float: left;
  margin: 0;
  margin-left: 10px;
}

.tweet-footer {
  width: calc(100% - 45px - 20px);
  margin-left: 10px;
  float: left;
}

.tweet-footer:after {
  display: block;
  clear: both;
  content: "";
}

.tweet-footer > div + div {
  margin-left: 10px;
}

.tweet-screenname {
  float: left;
  font-size: 0.8em;
  margin-top: 2px;
}

.tweet-username {
  float: left;
  font-weight: bold;
}

.tweet-diffdate {
  float: right;
  font-size: 0.8em;
  margin-top: 2px;
}




