@* このテンプレートの引数 *@
@(loginUser: models.User, users: List[models.User])

@* main.scala.htmlを呼び出す *@
@main("ユーザ一覧") {
  <div class="index">
    @menunoindex(loginUser.screen_name, "")
    <div class="timeline">
      @users.map { user =>
        <section class="follow-item">
          <div class="follow-img"><a href="/@user.screen_name"><img src="/assets/@user.profile_image_url" alt="icon"></a></div>
          <div class="follow-main">
            <div class="follow-namecontainer">
              <div class="follow-username">@user.name</div>
              <div class="follow-screenname">@@@user.screen_name</div>
            </div>
            @if(user.follower.contains(loginUser.id)) {
            <div class="follow-relation-with-you"><a href="/@user.screen_name/makeunfollow">Following</a></div>
              } else {
            <div class="follow-relation-with-you"><a href="/@user.screen_name/makefollow">No Relationship</a></div>
              }
            <p class="follow-profile-text">@user.description</p>
          </div>
        </section>
      }
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
  @post()

}
