@* このテンプレートの引数 *@
@import java.time.format.DateTimeFormatter
@(tweetsWithUser: List[(models.Tweet, models.User)])

@* main.scala.htmlを呼び出す *@
@main("ユーザ一覧") {
  <div class="index">
    <div class="timeline-menu">
      <div class="menu-img"><a href="#"><img src="assets/img/button_selected_home.png" alt="selected home"></a></div>
      <div class="menu-img"><a href="#"><img src="assets/img/button_reply.png" alt="reply"></a></div>
    </div>
    <div class="timeline">
      @tweetsWithUser.map { case (tweet, user) =>
          <section class="timeline-tweet">
            <div class="tweet-main">
              <div class="tweet-img"><a href="/@user.screen_name"><img src="assets/@user.profile_image_url" alt="icon"></a></div>
              <footer class="tweet-footer">
                <div class="tweet-username">@user.name</div>
                <div class="tweet-screenname">@@@user.screen_name</div>
                <div class="tweet-diffdate">@tweet.created_at.plusHours(9).format(DateTimeFormatter.ofPattern("yyyy/MM/dd HH:mm:ss"))</div>
              </footer>
              <p class="tweet-text">@tweet.text</p>
            </div>
          </section>
      }
    </div>
    <div class="index-main-container">
      <div class="conversation">
        <div class="conversation-index">no index</div>
        <div class="conversation-members">
          <div class="conversation-member"><a href="#"><img src="assets/img/profile_images/425285481006239744/kQB13fJs_normal.png" alt="icon"></a></div>
          <div class="conversation-member"><a href="#"><img src="assets/img/profile_images/439784749888843776/8BDgaa_c_normal.png" alt="icon"></a></div>
          <div class="conversation-member"><a href="#"><img src="assets/img/profile_images/544163120168443904/g1uxcM2Y_normal.png" alt="icon"></a></div>
        </div>
      </div>
      <div class="conversation">
        <div class="conversation-index">no index</div>
        <div class="conversation-members">
          <div class="conversation-member"><a href="#"><img src="assets/img/profile_images/425285481006239744/kQB13fJs_normal.png" alt="icon"></a></div>
          <div class="conversation-member"><a href="#"><img src="assets/img/profile_images/439784749888843776/8BDgaa_c_normal.png" alt="icon"></a></div>
          <div class="conversation-member"><a href="#"><img src="assets/img/profile_images/544163120168443904/g1uxcM2Y_normal.png" alt="icon"></a></div>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="tweetModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Tweet</h4>
          </div>
          <div class="modal-body">
            <textarea class="form-control" rows="3" id="tweetInput"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Tweet</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
  <script>
    $('body').keypress(function() {
      if (event.which == 110) {
        $('#tweetModal').modal();
      }
    });
    $('#tweetModal').on('shown.bs.modal', function () {
      $('#tweetInput').focus();
    })
  </script>
}
