@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">
            <!-- Optional theme -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap-theme.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/twitter_dark.css")">
    </head>
    <body>
        @content
    </body>
</html>
