@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title - Connectter</title>
            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">
            <!-- Optional theme -->
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap-theme.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/twitter.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/profile.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/timeline.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/follow.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/error.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/conversation.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/font-awesome.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/top.css")">
    </head>
    <body>
      <div id="welcome-cover">
        @content
      </div>
    </body>
</html>
