@(screenName: String)
    <div class="timeline-menu">
      <div class="menu-img menu-tweet" id="tweet"><i class="fa fa-lg fa-commenting button_tweet"></i></div>
      <div class="menu-img menu-user" id="user"><a href="/@screenName"><i class="fa fa-lg fa-user button_user"></i></a></div>
      <div class="menu-img menu-home selected" id="home"><i class="fa fa-home fa-lg"></i></div>
      <div class="menu-img menu-reply" id="reply"><i class="fa fa-at fa-lg"></i></div>
      <div class="menu-img menu-logout" id="logout"><a href="/logout"><i class="fa fa-lg fa-sign-out button_logout"></i></a></div>
    </div>
