
  <div class="modal fade" id="tweetModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="/api/tweet" method="post" id="tweetForm">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Tweet</h4>
          </div>
          <div class="modal-body">
            <textarea class="form-control" rows="3" id="tweetInput" name ="tweetInput"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Tweet</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <script>
    $('#tweetForm').submit(function(event) {
      event.preventDefault();
      $('#tweetModal').append(
        $('<div></div>', {addClass: 'loading', id: 'loading'})
          .append($('<img>', {src: '/assets/img/load.gif', alt: 'loading...'}))
        );
      var f = $(this);
      $.ajax({
        type: 'POST',
        url: f.prop('action'),
        dataType: 'json',
        data: f.serialize(),
        success: function(data) {
          $('#loading').remove();
          $('#tweetInput').val('');
          $('#tweetModal').modal('hide');
          if (mode == 'home') {
            insertNewerTweet();
          } else {
            insertNewerReply();
          }
        }
      });
    });
 
    var isShown = false;
    $('body').keypress(function(event) {
      if (event.which == 110) {
        $('#tweetModal').modal();
      }
      if (isShown) {
        if (event.ctrlKey) {
          if (event.which == 13) {
            $('#tweetForm').submit();
            return false;
          }
        }
      }
    });

    $('#tweetModal').on('shown.bs.modal', function () {
      isShown = true;
      $('#tweetInput').focus();
    });
    $('#tweetModal').on('hidden.bs.modal', function () {
      isShown = false;
    });
  </script>


