@* このテンプレートの引数 *@
@import java.time.format.DateTimeFormatter
@(loginUser: models.User, user: models.User, tweetsWithUser: List[(models.Tweet, models.User)])

@* main.scala.htmlを呼び出す *@
@main(user.name + "'s profile (edit)") {
  <div class="index">
    @menunoindex(loginUser.screen_name, "user")
    <div class="timeline">
    </div>
    <header class="profile-header">
      <div class="profile-floatcontainer">
        <form action="/@user.screen_name/update" method="post" id="profileForm">
          <div class="profile-editbutton" id="profileSaveButton">
            <i class="fa fa-floppy-o fa-lg"></i>
          </div>
          <div class="profile-icon profile-icon-edit" id="profileIcon"><img src="/assets/@user.profile_image_url" alt="icon">
            <input type="hidden" name="profile_image_url" value="@user.profile_image_url"></div>
          <section class="profile-main">
            <h1 class="profile-username"><input type="text" name="name" value="@user.name"></h1>
            <div class="profile-screenname"><input type="text" name="screen_name" value="@user.screen_name"></div>
            <textarea class="profile-text" name="profile_text">@user.description</textarea>
          </section>
        </form>
      </div>
    </header>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
  @post()


  <div class="modal fade" id="iconModal">
    <div class="modal-dialog">
      <div class="modal-content">
          <form id="iconForm">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                <input type="file" name="picture" id="picture">
                <p>アップロードする画像を指定してください。</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="uploadButton">Upload</button>
              </div>
          </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script>
    $('#profileSaveButton').click(function() {
      $('#profileForm').submit();
    })

    $('#profileIcon').click(function () {
        $('#iconModal').modal();
    })

    $('#uploadButton').click(function() {
      $('#iconModal').append(
        $('<div></div>', {addClass: 'loading', id: 'loading'})
          .append($('<img>', {src: '/assets/img/load.gif', alt: 'loading...'}))
        );
      var formData = new FormData( $('#iconForm')[0] );
      $.ajax({
            url: "/upload",
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            dataType: 'json',
            success: function( data ) {
                $('#loading').remove();
                $('#iconModal').modal('hide');
                $('#profileIcon > img').attr('src', "/assets/" + data.message);
                $('#profileIcon > input').val(data.message);
            }
      });
      return false;
    });
  </script>
}
