@* このテンプレートの引数 *@
@import java.time.format.DateTimeFormatter
@(loginUser: models.User, user: models.User, tweetsWithUser: List[(models.Tweet, models.User)])

@* main.scala.htmlを呼び出す *@
@main(user.name + "'s profile") {
  <div class="index">
    @menunoindex(loginUser.screen_name)
    <div class="timeline">
      @tweetsWithUser.map { case (tweet, user) =>
        <section class="timeline-tweet">
          <div class="tweet-main">
            <div class="tweet-img"><a href="/@user.screen_name"><img src="assets/@user.profile_image_url" alt="icon"></a></div>
            <footer class="tweet-footer">
              <div class="tweet-username">@user.name</div>
              <div class="tweet-screenname">@@@user.screen_name</div>
              <div class="tweet-diffdate">@tweet.created_at.plusHours(9).format(DateTimeFormatter.ofPattern("yyyy/MM/dd HH:mm:ss"))</div>
            </footer>
            <p class="tweet-text">@tweet.text</p>
          </div>
        </section>
      }
    </div>
    <header class="profile-header">
      <div class="profile-floatcontainer">
        @if(user.id == loginUser.id){
          <div class="profile-editbutton">
            <a href="/@user.screen_name/edit"><i class="fa fa-pencil fa-lg"></i></a>
          </div>
        }
        <div class="profile-icon"><img src="/assets/@user.profile_image_url" alt="icon"></div>
        <section class="profile-main">
          <h1 class="profile-username">@user.name</h1>
          <div class="profile-screenname">@@@user.screen_name</div>
          @if(user.id == loginUser.id){
            <div class="profile-relation-with-you"><a href="#">You</a></div>
          } else { @if(user.follower.contains(loginUser.id)) {
            <div class="profile-relation-with-you"><a href="/@user.screen_name/makeunfollow">Following(click でリムーブする)</a></div>
          } else {
            <div class="profile-relation-with-you"><a href="/@user.screen_name/makefollow">No Relationship(click でフォローする)</a></div>
          }}
          <p class="profile-text">@user.description</p>
        </section>
      </div>
      <div class="profile-relation">
        <a href="/@user.screen_name/follow"><div class="profile-follow">Follow @user.follow.size</div></a>
        <a href="/@user.screen_name/follower"><div class="profile-follower">Follower @user.follower.size</div></a>
      </div>
    </header>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
  @post()
}
