@* このテンプレートの引数 *@
@(loginUser: models.User, user: models.User, tweetsWithUser: List[(models.Tweet, models.User)])

@* main.scala.htmlを呼び出す *@
@main("ユーザ一覧") {
  <div class="container">
    <header class="profile-header">
      <div class="profile-floatcontainer">
        <div class="profile-icon"><img src="/assets/@user.profile_image_url" alt="icon"></div>
        <section class="profile-main">
          <h1 class="profile-username">@user.name</h1>
          <div class="profile-screenname">@@@user.screen_name</div>
          @if(user.id == loginUser.id){
            <div class="profile-relation-with-you"><a href="#">You</a></div>
          } else { @if(user.follower.contains(loginUser.id)) {
            <div class="profile-relation-with-you"><a href="/@user.screen_name/makeunfollow">Following</a></div>
          } else {
            <div class="profile-relation-with-you"><a href="/@user.screen_name/makefollow">No Relationship</a></div>
          }}
          <p class="profile-text">@user.description</p>
        </section>
      </div>
      <div class="profile-relation">
        <a href="/@user.screen_name/follow"><div class="profile-follow">Follow @user.follow.size</div></a>
        <a href="/@user.screen_name/follower"><div class="profile-follower">Follower @user.follower.size</div></a>
      </div>
    </header>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        @tweetsWithUser.map { case (tweet, user) =>
          <section class="timeline-tweet">
            <div class="tweet-main">
              <div class="tweet-img"><a href="/@user.screen_name"><img src="assets/@user.profile_image_url" alt="icon"></a></div>
              <p class="tweet-text">@tweet.text</p>
            </div>
            <footer class="tweet-footer">
              <div class="tweet-screenname">@@@user.screen_name</div>
              <div class="tweet-username">@user.name</div>
              <div class="tweet-diffdate">@tweet.created_at</div>
            </footer>
          </section>
        }
      </div>
    </div>
  </div>
  <div class="modal fade" id="tweetModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <form>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Tweet</h4>
          </div>
          <div class="modal-body">
            <textarea class="form-control" rows="3" id="tweetInput"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Tweet</button>
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
  <script>
    $('body').keypress(function() {
      if (event.which == 110) {
        $('#tweetModal').modal();
      }
    });
    $('#tweetModal').on('shown.bs.modal', function () {
      $('#tweetInput').focus();
    })
  </script>
}