@(message: Option[String])

@maintop("welcome") {
<div class="welcome-container">
  <div class="welcome-message">

    @message match {

      case Some(x) => {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          @x
        </div>
      }

        case None => {}
    }

    <h1>Connectter</h1>
    <h2>毎日のコミュニケーションに新しい広がりを</h2>
    
    <form action="/create" method="post" class="welcome-signup-form">
      <input type="text" placeholder="username" name="signupInputUserId1"><br>
      <input type="text" placeholder="email" name="signupInputEmail1"><br>
      <input type="password" placeholder="password" name="signupInputPassword1"><br>
      <input class="welcome-signup-send" type="submit" value="登録">
    </form>
    <a href="/welcome"><div class="welcome-signup-login">ログインはこちら</div></a>

  </div>
</div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="@routes.Assets.versioned("js/jquery.min.js")"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="@routes.Assets.versioned("js/bootstrap.min.js")"></script>
}

