@(message: Option[String])

@maintop("welcome") {
<div class="welcome-container">
  <div class="welcome-message">

    @message match {

      case Some(x) => {
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          @x
        </div>
      }

      case None => {}
    }

    <h1>Connectter</h1>
    <h2>毎日のコミュニケーションに新しい広がりを</h2>
    
    <form action="/authenticate" method="post" class="welcome-login-form">
      <input type="text" placeholder="username" name="loginInputUserId1"><br>
      <input type="password" placeholder="password" name="loginInputPassword1"><br>
      <input class="welcome-login-send" type="submit" value="ログイン">
    </form>
    <a href="/signup"><div class="welcome-login-signup">登録はこちら</div></a>

  </div>
</div>
}

